extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")
  link(rel="stylesheet", href="/animations.css")
  script.
    function onDropdownChange() {
      const dropdown = document.querySelector('select[name="dropdown"]');
      const selectedValue = dropdown.value;

      const table = document.querySelector("table.fade-in");
      table.classList.remove("fade-in");

      setTimeout(() => {
        table.classList.add("fade-in");
        window.location.href = `/cities?value=${selectedValue}`;
      }, 50);
    }

    function onRowLimitChange() {
      const rowLimitDropdown = document.querySelector('select[name="rowLimit"]');
      const selectedRowLimit = rowLimitDropdown.value;
      window.location.href = `/cities?rowLimit=${selectedRowLimit}`;
    }

    function onAlphabetClick(letter) {
      window.location.href = `/cities?letter=${letter}`;
    }

block content
  div.form-container
    form.form-inline
      label(for='dropdown') Select a website to display:
      select(name='dropdown', id='dropdown', onchange="onDropdownChange()", style="margin-right: 20px")
        option(value='Cities', selected=value === 'Cities') City
        option(value='Country', selected=value === 'Country') Country
        option(value='Country Language', selected=value === 'Country Language') Country language
      label(for='rowLimit') Select number of rows to display:
      select#rowLimit(name='rowLimit', onchange="onRowLimitChange()")
        option(value='10', selected=rowLimit === '10') 10
        option(value='15', selected=rowLimit === '15') 15
        option(value='20', selected=rowLimit === '20') 20

  div.alphabet-bar
    each letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
      button(type='button', onclick=`onAlphabetClick('${letter}')`) #{letter}

  form.search-container(method="GET", action="/cities")
    label(for="search") Search city:
    input(type="text", name="search", id="search", value=search)
    button(type="submit") Search

  if value === "Cities" || value === "Country" || value === "Country Language"
    h2 Cities, Countries, and Languages
    table.fade-in
      thead
        th.text-center 🏴
        th Country
        if value === "Cities"
          th City
          th Population
        if value === "Country Language"
          th Language
      tbody
        each row in rows
          tr
            td.fit #{row.CountryCode}
            td #{row.CountryName}
            if value === "Cities"
              td #{row.CityName}
              td.number.fit #{row.CityPopulation}
            if value === "Country Language"
              td #{row.Language}
